/*! dark.css | Crashdump Browser | Adam Perry | opensource.org/licenses/MIT */
html {
   background-color: #262328;
   font: 12px Tahoma, sans-serif;
}

body {
   color: #ddd;
   padding: 10px;
}

th {
   background-color: #38343a;
   padding: 2px 6px;
}

td {
   background-color: #605a66;
   padding: 2px 6px;
   color: #eee;
   text-align: center;
}

td.detail {
   cursor: pointer;
   text-align: right;
}

#detailTable td.detail {
   text-align: center;
}

.leftAlign {
   text-align: left;
}

.rightAlign {
   text-align: right;
}

tr.light td {
   background-color: #706a74;
}

table {
   width: 98%;
   margin: 10px 15px;
   padding: 2px;
   background-color: #444246;
}

.loading table, .fade {
   opacity: 0.7;
   filter: alpha(opacity=70);
}

#projSelect, #projSelect * {
   font-size: 0.9em;
}

#errorView, #detailView, #similarContainer {
   display: none;
}

#similarContainer {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(90, 90, 90, 0.5);
}

#similarBox {
   margin: 50px auto 0;
   width: 75%;
   border: 2px #444246 solid;
   background-color: #605a66;
   padding: 10px;
}

#similarBox h2 {
   margin-top: 0;
}

#similarList input {
   width: 60px;
   margin-right: 10px;
}

#messages {
   font-weight: bold;
   color: red;
}

a {
   font-weight: bold;
   color: #e92;
}

a:hover {
   color: #fb4;
}

.pretable {
   margin: 5px 20px;
}

.clear {
   clear: both;
}

.filter {
   float: left;
   margin-right: 10px;
}

label {
   display: inline-block;
   width: 80px;
}

.filter input {
   width: 100px;
}

.filter select {
   min-width: 100px;
   max-width: 180px;
}

.filter select[multiple] {
   height: 104px;
}

.bulkActions {
   margin-top: 5px;
}

table select {
   width: 76px;
}

th.sortable:hover {
   cursor: pointer;
   color: #ffa;
}

th.sortUp:after {
   content: " \25b2";
   color: #76f;
}

th.sortDown:after {
   content: " \25bc";
   color: #76f;
}

.pagination {
   text-align: right;
   margin: 0 auto;
   width: 95%;
   font-size: 14px;
   font-weight: bold;
}

.pagination a {
   text-decoration: none;
}